# Ignore everything that isn't useful in our project folder
northwind1/bin/
northwind1/obj/
northwind1/Properties/
northwind app/bin/
northwind app/obj/
northwind app/Properties/
northwind app/wwwroot/
*.user

.vs/

# Ignore config files
*.config

# Ignore suo files
*.suo

# Ignore csproj files
*.csproj

# Ignore solution files
*.sln