# Ignore everything that isn't useful in our project folder
northwind1/bin/
northwind1/obj/
northwind1/Properties/
.vs/

# Ignore config files
*.config

# Ignore suo files
*.suo

# Ignore csproj files
*.csproj

# Ignore solution files
*.sln