@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<table border="1">
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    @foreach (var p in ViewBag.ListOfPeople)
    {
        <tr>
            <td>@p.FirstName</td>
            <td>@p.LastName</td>
        </tr>
    }
</table>